<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1 class="heading"><span class="web">Web</span>Blogger</h1>
        <div class="iconsdiv">
            <img src="images/twitter.png" class="icons" alt="twitter">
            <img src="images/instagram.png" class="icons" alt="twitter">
            <img src="images/facebook.png" class="icons" alt="twitter">
        </div>
    </div>
    
</body>
</html>